<div class="container">
  <h1>User Skills and Levels</h1>

  <table class="user-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Skill</th>
        <th>Years</th>
        <th>Formal?</th>
      </tr>
    </thead>
    
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
        <% user.proficiencies.each do |prof| %>
          <ul>
            <li><%= prof.skill.name %> (<%= prof.skill.context %>)</li>
          </ul>
        <% end %>
        </td>

        <td>
          <% user.proficiencies.each do |prof| %>
            <ul>
              <li><%= prof.years_of_experience %></li>
            </ul>
        <% end %>
        </td>
        <td>
          <% user.proficiencies.each do |prof| %>
            <ul>
              <li><%= prof.formal ? "yes" : "no" %></li>
            </ul>
        <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
